<section class="achivments__section">
  <article class="container padding-section center-alignment">
    <h2 class="section-title text-lg-center">Reconocimientos que he recibido en el mundo del desarrollo web hasta ahora.</h2>
    <div class="achivments__container">
      <aside class="center-alignment">
        <img src="./img-medalla.png" alt="medalla color dorado con centro negro">
        <p class="text-lg-center">Primer lugar en <span>Competencia Regional World Skills</span> Costa Rica 2023 por la Regional Cartago</p>
      </aside>
      <aside class="center-alignment">
        <img src="./img-medalla02.png" alt="medalla color dorado con centro negro">
        <p class="text-lg-center">Segundo lugar en <span>Competencia Nacional World Skills</span> Heredia, Costa Rica 2024</p>
      </aside>
      
    </div>
  </article>
</section>

<style>
  .achivments__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 3rem;
  }

  .achivments__container aside {
    width: min(100%, 30rem);
  }

  .achivments__container aside img{
    width: 15rem;
    margin-bottom: 1rem;
    animation: float 6s ease-out infinite;
  }

  .achivments__container aside p{
    font-weight: bold;
  }

  .achivments__container aside p span{
    color: var(--action-color);
  }

  @media (width >= 1100px){
    .achivments__container aside img{
      width: 23rem;
    }
  }

  @keyframes float{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0px);
  }
  
}

</style>