<section class="certifications__section center-alignment">
  <article class="padding-section container center-alignment">
    <h2 class="section-title text-lg-center">Programas de estudio adicionales en los que he participado.</h2>
    <img src="./certificaciones/programa-alura.jpg" alt="certificado de programa alura latam" class="certification-img">
    <a href="https://drive.google.com/file/d/1Yfi9-haFSCEQLjzFTwE5FM4nsKP2Fr4a/view?usp=sharing" target="_blank" class="btn-secondary">Ver certificado completo</a>
  </article>
</section>

<style>
  .certification-img{
    width: min(100%, 30rem);
    margin-block: 2rem;
    
  }
</style>