---
const { translateLabels } = Astro.props;
import ContactForm from "../ContactForm/ContactForm";
---

<section class="center-alignment contact__section" id="contact">
  <article class="center-alignment padding-section container">
    <h2 class="section-title text-lg-center">{translateLabels('contact.title')}</h2>
    <p class="text-lg-center">{translateLabels('contact.subtitle')}</p>
    <ContactForm client:load/>
  </article>
</section>

<style>
  .contact__section{
    background-color: var(--action-color);
    color: var(--text-color);
    scroll-margin-top: 100px;
  }
</style>