---
const { translateLabels } = Astro.props;
---

<section class="center-alignment banner__section">
  <article class="center-alignment start-md-alignment padding-section container">
    <h1 class="main-title" set:html={translateLabels('hero.title')}></h1>
    <aside>
      <a href="https://drive.google.com/file/d/1hmmvrW1Q_jltT5UUe0eXUdA0e65oSyme/view?usp=sharing" target="_blank" class="btn-primary">{translateLabels('hero.btn')}</a>
      <a href="#contact" class="btn-secondary">{translateLabels('hero.secondBtn')}</a>
    </aside>
  </article>
</section>

<style>
  .banner__section {
    width: 100vw;
    background: url('/banner-bg.png') right no-repeat;
    background-size: cover;
    background-color: var(--text-color);
  }

  .banner__section .container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(215, 215, 215, 0.4) 0%,
      rgba(186, 186, 189, 0.67) 35%,
      rgba(241, 241, 241, 1) 100%
    );
  }

  .banner__section .container aside {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 1rem;
    gap: 1rem;
  }

  .main-title {
    text-align: center;
    color: var(--primary-color);
    font-size: 2rem;
  }

  .highlight {
    color: var(--action-color);
  }

  @media(width >= 769px){
    .main-title{
      text-align: start;
    }
  }

  @media (width >= 1100px){
    .banner__section .container{
      background: transparent;
    }

    .main-title {
      width: 55rem;
      font-size: 4rem;
    }
  }

</style>